.banner {
    position: relative;
    background-color: black;
    height: 25VH;
    min-height: 5rem;
    width: 100%;
    overflow: hidden;
    user-select: none;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.6;
        z-index: 1;
    }

    .react-player {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        transform: translateX(-50%) translateY(-50%);
    }

    .return {
        position: absolute;
        left: 0;
        top: 0;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding-top: 5px;
        padding-left: 5px;
        font-size: 60px;
        z-index: 2;
    }

    .return:hover {
        color: rgb(230, 230, 230);
    }

    .title_type {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        color: rgb(255, 255, 255);
        transform: translateX(-50%) translateY(-50%);
        font-size: 6VH;
        font-family: 'Verdana';
        text-align: center;
        z-index: 2;
    }
}