.action_button {
    padding: 0;
    list-style: none;
    margin: 0;

    li {
        display: inline-block;
        i {
            text-align: center;
            display: block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 50%;
            font-size: 18px;
            margin-right: 10px;
            transition:all .5s ease 0s;
            text-decoration: none; 
            cursor: pointer;            
        }

        i:hover {
            transform: rotate(360deg);
            color: #fff;
        }

        .fa-check {
            background-color: #0dab76;
            color: #fff;
        }
        .fa-times {
            background-color: #d10531;
            color: #fff;
        }
        .fa-link {
            background-color: #13a1ffc5;
            color: #fff;
        }
        .fa-trash {
            background-color: #554b4b;
            color: #fff;
        }
    }
    
}